<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="opacity">
    <ion-item>
      <ion-label position="floating">User</ion-label>
      <ion-input clearInput  type="text" #user></ion-input>
      <ion-icon slot="end" name="person-outline"></ion-icon>
    </ion-item> 
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input clearInput type="email" #email></ion-input>
      <ion-icon slot="end" name="at"></ion-icon>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input clearInput type="password" #password></ion-input>
      <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirm password</ion-label>
      <ion-input clearInput type="password" #confirmPassword></ion-input>
      <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
    </ion-item>
  </ion-list>  
  <ion-button expand="full" shape="round" color="primary" (click) = "registro(name.value, email.value, pass.value, pass2.value)">
    Registro
  </ion-button>
  <ion-button expand="full" shape="round" color="secondary"  href="/home">Home</ion-button>
</ion-content>