#question{
  height: 100px;
}
ion-card-content{
  padding: 0;

}
ion-item{
  font-family:Panic
}
ion-text{
  font-size: 3vh;
}
ion-card{
  height: 500px;
  background-color: #f3f3f3;
  box-shadow:none;
  font-family:Panic
}

