
<ion-card>
  <ion-card-header>
    <ion-text>{{card?.question}}</ion-text>
  </ion-card-header>
  <ion-card-content>
    <ion-item class="answer" button (click)="nextQuestion($event)"><div class="ion-text-center">{{card?.shuffleAnswers[0]}}</div></ion-item>
    <ion-item class="answer" button (click)="nextQuestion($event)"><div class="ion-text-center">{{card?.shuffleAnswers[1]}}</div></ion-item>
    <ion-item class="answer" button (click)="nextQuestion($event)"><div class="ion-text-center">{{card?.shuffleAnswers[2]}}</div></ion-item>
    <ion-item class="answer" button (click)="nextQuestion($event)"><div class="ion-text-center">{{card?.shuffleAnswers[3]}}</div></ion-item>
  </ion-card-content>
</ion-card>
