/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

 ion-content{
  --ion-background-color: white;
  --ion-text-color:black
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container ion-button{
  display: block;
  margin: 15%;
  width: 70%;
  height: 50px;
  --background:rgb(39, 19, 148);
  font-family:Cooper white;

}


@font-face {
  font-family: 'StrangerThings';
  src: url('./assets/fonts/StrangerThings-Regular.ttf');
}
@font-face {
  font-family: 'Gosthy';
  src: url('./assets/fonts/iknowaghost.ttf');
}
@font-face {
  font-family: 'Panic';
  src: url('./assets/fonts/PanicStricken.ttf');
}
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
